* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    background-color: #FFF;
    padding: 25px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 .5rem #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

.square {
    border: 1px solid #000;
}

.hovered {
    background-color: #6cff6c;
}

.invalid {
    background-color: #ff2a2a;
}

.placed {
    background-color: #3e3e3e;
}

.miss {
    background-color: #6cff6c;
}

.hit {
    background-color: #ff2a2a;
}

#gameboardContainer {
    display: flex;
    gap: 50px;
}